html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
}

/* Header */
header {
    background-color: white;
    color: dodgerblue;
    min-height: 80px;
    border-bottom: aqua 6px solid;
    margin-bottom: 0;
}

#brand {
    flex: 1;
    text-transform: uppercase;
    float: left;
    cursor: default;
    margin-left: 20px;
}
#brand h1 {
    margin: 0px;
}
header nav {
    flex: 1;
    margin-top: 13px;
}

header ul {
    display: flex;
    justify-content: space-around;
    cursor: default;
    margin-top: 15px;
}

header li {
    padding: 10px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: dodgerblue;
}

header .current {
    border-bottom: 5px solid aqua;
}

/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: azure;
    color: white;
}
  



/* Showcase */
#showcase {
    min-height: 600px;
    height: 100%;
     position: relative; /* необходим для позиционирования sidebar относительно этого элемента */
}

#toggle {
    position: absolute;
    top: 5px;
    margin-left: 20px;
    transition: 0.5s;
    z-index: 1;
}

#sidebar {
    width: 0px;
    background-color: white;
    position: absolute; /* Whenever positioning anything absolutely, you need one of the parent containers to be positioned relative as this will make the item be positioned absolute to the parent container that is relative. */
    transition: 0.5s;
    opacity: 0.95;
    height: 100%;
    left: 0;
    overflow: auto;
}

#sidebar #content_table {
    display: none;

}

#sidebar #content_table h2 {
    font-weight: normal;
    margin-top: 0px;
    margin-left: 20px;
}

#sidebar #content_table #table_container {
}

.collapsibleList li{
  /* list-style-image : url('button.png'); */
  background-color: aqua;  
  cursor           : auto;
}

li.collapsibleListOpen{
  /* list-style-image : url('button-open.png'); */
  cursor           : pointer;
}

li.collapsibleListClosed{
  /* list-style-image : url('button-closed.png'); */
  cursor           : pointer;
}

#map {
    flex-basis: 70%;
}

#map img {
    width: 100%;
    padding: 0;
}


#info {
    flex-basis: 30%;
    max-height: 1500px;
    background-color: white;
    border-left: 6px aqua solid;
    overflow: auto;
}

#info h2 {  /* =#obj_title */
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
}

#info p {  /* =#obj_description */
    margin: 0;
    padding: 20px;
    text-align: justify;
}

.textarea {
    min-height: 600px;
    height: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: azure;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#index_text {
    flex-basis: 75%;
    text-align: justify;
}

#contacts_text {
    flex-basis: 50%;
    text-align: center;
}

footer {
    border-top: 5px solid aqua; 
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0;
    padding: 15px;
}



@media(min-height: 1024px){
    #showcase {
        min-height: 1000px;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .row{
        flex-wrap: wrap;
    }

    header #brand {
        margin: 5px;
        flex-basis: 100%;
    }

    header #brand h1 {
        text-align: center;
        line-height: 1;
    }

    header nav {
        margin-top: 5px;
    }

    header ul {
        margin: 5px 0 5px 0;
        padding: 0;
    }

    header li {
        padding: 0 15px 0 15px;
        margin: 0;
    }

    #showcase {
        min-height: 0;
    }

    #map {
        flex-basis: 100%;
    }

    #info {
        flex-basis: 100%;
        border-left: none;
        padding-top: 0px;
    }
}