html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin:0;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
}

/* Header */
header {
    background-color: white;
    color: dodgerblue;
    min-height: 80px;
    border-bottom: rgb(200, 255, 255) 6px solid;
    margin-bottom: 0;
}

#brand {
    flex: 1;
    text-transform: uppercase;
    float: left;
    cursor: default;
    margin-left: 20px;
}
#brand h1 {
    margin: 0px;
}
header nav {
    flex: 1;
    margin-top: 13px;
}

header ul {
    display: flex;
    justify-content: space-around;
    cursor: default;
    margin-top: 15px;
}

header li {
    padding: 10px;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: dodgerblue;
}

header .current {
    border-bottom: 5px solid rgb(200, 255, 255);
}

/* Fade */
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: azure;
    color: white;
}
  



/* Showcase */
#showcase {
    min-height: 600px;
    height: 100%;
    position: relative; /* необходим для позиционирования sidebar относительно этого элемента */
}

#toggle {
    position: absolute;
    top: 5px;
    margin-left: 20px;
    transition: 0.5s;
    z-index: 1;
}

#sidebar {
    width: 0px;
    background-color: white;
    position: absolute; /* Whenever positioning anything absolutely, you need one of the parent containers to be positioned relative as this will make the item be positioned absolute to the parent container that is relative. */
    transition: 0.5s;
    opacity: 0.95;
    height: 100%;
    left: 0;
    overflow: auto;
}

#sidebar #content_table {
    display: none;

}

#sidebar #content_table h2 {
    font-weight: normal;
    margin-top: 0px;
    margin-left: 20px;
}

#sidebar #content_table #table_container {
}

.collapsibleList li{
  /* list-style-image : url('button.png'); */
  background-color: rgb(200, 255, 255);  
  cursor           : auto;
}

li.collapsibleListOpen{
  /* list-style-image : url('button-open.png'); */
  cursor           : pointer;
}

li.collapsibleListClosed{
  /* list-style-image : url('button-closed.png'); */
  cursor           : pointer;
}

#map {
    flex-basis: 70%;
    min-height: 300px;
}

#map img {
    width: 100%;
    padding: 0;
}


#info {
    flex-basis: 30%;
    max-height: 1500px;
    background-color: white;
    border-left: 6px rgb(200, 255, 255) solid;
    overflow: auto;
}

#info h2 {  /* =#obj_title */
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
}

#info p {  /* =#obj_description */
    margin: 0;
    padding: 20px;
    text-align: justify;
}

.textarea {
    min-height: 600px;
    height: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: azure;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#index_text {
    flex-basis: 75%;
    text-align: justify;
}

#contacts_text {
    flex-basis: 50%;
    text-align: center;
}

.executors {
    font-size: 16px;
}

footer {
    border-top: 5px solid rgb(200, 255, 255); 
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0;
    padding: 15px;
}




@media(min-height: 1024px){
    #showcase {
        min-height: 1000px;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .row{
        flex-wrap: wrap;
    }

    header #brand {
        margin: 5px;
        flex-basis: 100%;
    }

    header #brand h1 {
        text-align: center;
        line-height: 1;
    }

    header nav {
        margin-top: 5px;
    }

    header ul {
        margin: 5px 0 5px 0;
        padding: 0;
    }

    header li {
        padding: 0 15px 0 15px;
        margin: 0;
    }

    #showcase {
        min-height: 0;
    }

    #map {
        flex-basis: 100%;
    }

    #info {
        flex-basis: 100%;
        border-left: none;
        padding-top: 0px;
    }
}




.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent; }
    .tcon > * {
      display: block; }
    .tcon:hover, .tcon:focus {
      outline: none; }
    .tcon::-moz-focus-inner {
      border: 0; }
  
  .tcon-menu__lines {
    display: inline-block;
    height: 5.71429px;
    width: 40px;
    border-radius: 2.85714px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: dodgerblue;
    position: relative; }
    .tcon-menu__lines::before, .tcon-menu__lines::after {
      display: inline-block;
      height: 5.71429px;
      width: 40px;
      border-radius: 2.85714px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      background: dodgerblue;
      content: '';
      position: absolute;
      left: 0;
      -webkit-transform-origin: 2.85714px center;
      transform-origin: 2.85714px center;
      width: 100%; }
    .tcon-menu__lines::before {
      top: 10px; }
    .tcon-menu__lines::after {
      top: -10px; }
    .tcon-transform .tcon-menu__lines {
      -webkit-transform: scale3d(0.8, 0.8, 0.8);
      transform: scale3d(0.8, 0.8, 0.8); }
  
  .tcon-menu--xbutterfly {
    width: auto; }
    .tcon-menu--xbutterfly .tcon-menu__lines::before, .tcon-menu--xbutterfly .tcon-menu__lines::after {
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-transition: top .3s .6s ease, -webkit-transform .3s ease;
      transition: top .3s .6s ease, -webkit-transform .3s ease;
      transition: top .3s .6s ease, transform .3s ease;
      transition: top .3s .6s ease, transform .3s ease, -webkit-transform .3s ease; }
    .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
      background: transparent; }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before, .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
        top: 0;
        -webkit-transition: top .3s ease, -webkit-transform .3s .5s ease;
        transition: top .3s ease, -webkit-transform .3s .5s ease;
        transition: top .3s ease, transform .3s .5s ease;
        transition: top .3s ease, transform .3s .5s ease, -webkit-transform .3s .5s ease;
        width: 40px; }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg); }
      .tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg); }
  
  .tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
    .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto; }
  